.card {
  max-width: 100%;
  height: fit-content;
  padding: 50px 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 14%;
}
body {
  background-image: url("backgroundImage.webp");
  background-attachment: fixed;
  background-size: 100% 100%;
}
button{
    border: transparent;
    background-color: transparent;
}
.letter {
  cursor: pointer;
  font-size: 3rem;
  text-align: center;
  padding: 10px 20px;
}
@keyframes clickMe {
  0% {
    background-color: rgb(182, 182, 249);
  }
  50% {
    background-color: rgb(249, 129, 129);
    transition: all 0.2s ease;
    transform: scale(0.9);
  }
  100% {
    background-color: rgb(134, 134, 250);
  }
}
